.example {
  padding: 25px 20px 40px 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #eaeaea;
}

.example__heading {
  margin: 0 0 20px 0;
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
}

.example__description {
  margin: 0;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
}

.example__total {
  margin: 0;
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
}
