.example__wrapper {
  position: relative;
  padding: 25px 20px 38px 20px;
  display: flex;
  flex-direction: column;
  gap: 21px;
  background-color: #eaeaea;
}

.example__heading {
  position: relative;
  z-index: 10;
  margin: 0 0 19px 0;
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
}

.example__description {
  position: relative;
  z-index: 10;
  margin: 0;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
}

.example__table-container {
  margin: 0;
}

.example__total {
  position: relative;
  z-index: 10;
  margin: 0;
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
}

.example__slider {
  margin: 0 auto;
}

.example__slider-toggle {
  position: relative;
  z-index: 10;
}

@media (min-width: @tablet-width) {
  .example__wrapper {
    padding: 45px 30px 101px 30px;
    gap: 56px 20px;
    border-top: 1px solid #e6e6e6;
    background: linear-gradient(to top, #eaeaea, #eaeaea 462px, transparent 462px, transparent 100%);
  }

  .example__heading {
    margin: 0 0 4px 0;
    font-size: 60px;
    line-height: 60px;
  }

  .example__description {
    font-size: 16px;
    line-height: 24px;
  }

  .example__total {
    width: 174px;
    margin: 12px 2px 0 auto;
    font-size: 20px;
    line-height: 20px;
    text-align: right;
  }

  .example__total span {
    display: inline-block;
    margin-top: 8px;
  }

  .example__slider {
    margin: 45px auto 0 auto;
  }
}

@media (min-width: @desktop-width) {
  .example {
    background: linear-gradient(to bottom, transparent, transparent 136px, #f2f2f2 136px, #f2f2f2 100%);
  }

  .example__wrapper {
    position: relative;
    display: block;
    margin: 0 auto;
    padding: 0 110px 74px 110px;
    width: 1440px;
    border-top: none;
    background: linear-gradient(to bottom, transparent, transparent 136px, #f2f2f2 136px, #f2f2f2 100%);
  }

  .example__heading {
    margin: 0 0 146px 0;
    width: 640px;
  }

  .example__description {
    width: 436px;
    margin: 0 0 69px 0;
  }

  .example__total {
    width: 400px;
    margin: 0;
    text-align: left;
  }

  .example__total span {
    padding: 0 0 0 63px;
  }

  .example__slider {
    margin: 0;
  }
}
