.example-stats {
  position: relative;
  z-index: 10;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 20px 32px;
}

@media (min-width: @tablet-width) {
  .example-stats {
    width: 500px;
  }
}

.example-stats__table {
  margin: 0;
}

.example-stats__value {
  margin: 0 0 7px 0;
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  text-align: center;
}

@media (min-width: @tablet-width) {
  .example-stats__value {
    font-size: 30px;
    line-height: 37px;
  }
}

.example-stats__description {
  margin: 0;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  color: #444444;
}

@media (min-width: @tablet-width) {
  .example-stats__description {
    font-size: 14px;
    line-height: 14px;
  }
}
