.header {
  position: relative;
  padding: 26px 0 0 0;
  min-height: 65px;
  z-index: 20;
}

.header__logo {
  position: absolute;
  top: 16px;
  left: 20px;
  display: flex;
  align-items: center;
  gap: 10px 56px;
  width: 202px;
  height: 38px;
}

@media (min-width: @tablet-width) {
  .header {
    padding: 27px 30px 67px 103px;
  }

  .header__logo {
    top: 28px;
    left: 30px;
    gap: 10px 13px;
    height: 50px;
  }

  .header__main-nav {
    margin-left: auto;
  }
}

@media (min-width: @desktop-width) {
  .header {
    padding: 55px 40px 42px 40px;
    margin: 0 auto;
    max-width: 1300px;
    background-position: 124px 74px;
  }

  .header__logo {
    top: 55px;
    left: 40px;
    gap: 10px 14px;
    height: 59px;
  }
}
