.logo {
  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.logo--footer {
  display: block;
  padding: 20px;
  text-align: center;
}

@media (min-width: @tablet-width) {
  .logo--footer {
    padding: 0;
  }
}

@media (min-width: @desktop-width) {
  .logo--footer {
    padding: 0;
  }
}
