.main-nav {
  position: relative;
  right: 0;
  width: 100%;
  margin-top: 32px;

  &--no-js {
    margin-top: 43px;
  }

  &--no-js .navigation-list {
    display: block;
  }

  &--no-js .main-nav__toggle {
    display: none;
  }
}

.main-nav__toggle {
  position: absolute;
  top: -41px;
  right: 21px;
  width: 30px;
  height: 30px;
  background: url("../img/main-nav-open-button-icon.svg") no-repeat center;
  background-size: 24px;
  border: none;
  appearance: none;
  cursor: pointer;
}

.main-nav--closed .main-nav__toggle {
  background: url("../img/main-nav-open-button-icon.svg") no-repeat center;
}

.main-nav--opened .main-nav__toggle {
  background: url("../img/close-button-icon.svg") no-repeat center;
}

.main-nav--opened .navigation-list {
  display: block;
  position: absolute;
  top: 11px;
  width: 100%;
}

@media (min-width: @tablet-width) {
  .main-nav {
    right: auto;
    width: 436px;
    padding: 0;
    margin: 0 0 0 auto;
  }

  .main-nav .navigation-list,
  .main-nav--no-js .navigation-list {
    display: flex;
  }

  .main-nav__toggle {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .main-nav {
    width: 476px;
    max-width: 580px;
  }
}
