.method-details {
  padding: 0 20px 49px 20px;
}

.method-details__heading {
  margin: 0 0 40px 0;
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
}

.method-details__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.method-details__item {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  padding: 0 0 0 80px;
  min-height: 60px;
  font-size: 14px;
  line-height: 18px;
  color: #444444;

  &:last-child {
    margin-bottom: 0;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    background-color: @color-secondary;
  }

  &--leaf::before {
    background: @color-secondary url("../img/stack.svg#method-item-leaf") no-repeat center;
    background-size: 30px 28px;
  }

  &--flask::before {
    background: @color-secondary url("../img/stack.svg#method-item-flask") no-repeat center;
    background-size: 26px 29px;
  }

  &--utensils::before {
    background: @color-secondary url("../img/stack.svg#method-item-utensils") no-repeat center;
    background-size: 25px 30px;
  }

  &--clock::before {
    background: @color-secondary url("../img/stack.svg#method-item-clock") no-repeat center;
    background-size: 27px 31px;
  }
}

@media (min-width: @tablet-width) {
  .method-details {
    padding: 0 30px;
  }

  .method-details__heading {
    margin: 0 0 32px 0;
    font-size: 60px;
    line-height: 60px;
  }

  .method-details__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 37px 130px;
  }

  .method-details__item {
    padding: 151px 0 57px 0;
    min-width: 230px;
  }

  .method-details__item::before {
    top: 40px;
  }

  .method-details__item::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    font-family: "Oswald", sans-serif;
    font-size: 280px;
    line-height: 270px;
    font-weight: 400;
    text-align: right;
    color: #f2f2f2;
  }

  .method-details__item:nth-child(1)::after {
    content: "1";
  }

  .method-details__item:nth-child(2)::after {
    content: "2";
  }

  .method-details__item:nth-child(3)::after {
    content: "3";
  }

  .method-details__item:nth-child(4)::after {
    content: "4";
  }

  .method-details__item:nth-child(5)::after {
    content: "5";
  }

  .method-details__item:nth-child(6)::after {
    content: "6";
  }

  .method-details__item:nth-child(7)::after {
    content: "7";
  }

  .method-details__item:nth-child(8)::after {
    content: "8";
  }

  .method-details__item:nth-child(9)::after {
    content: "9";
  }

  .method-details__item:nth-child(10)::after {
    content: "10";
  }

  .method-details__item:nth-child(11)::after {
    content: "11";
  }

  .method-details__item:nth-child(12)::after {
    content: "12";
  }
}

@media (min-width: @desktop-width) {
  .method-details {
    padding: 0 40px;
  }

  .method-details__list {
    grid-template-columns: repeat(4, 1fr);
    gap: 30px 94px;
  }
}
