.navigation-list {
  margin: 0;
  padding: 0;
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  list-style-type: none;
  text-align: center;
}

.navigation-list__link {
  padding: 22px;
  display: block;
  color: #000000;
  text-decoration: none;
}

@media (min-width: @tablet-width) {
  .navigation-list {
    margin: 0 0 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 0 33px;
    font-size: 18px;
    line-height: 24px;
  }

  .navigation-list__link {
    padding: 12px 0;
  }

  .navigation-list__item--current {
    border-bottom: 2px solid #68B738;
  }
}
