.programs-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  list-style-type: none;
}

.programs-list__item {
  position: relative;
  padding: 20px;
  background-color: #f2f2f2;

  &::before {
    content: "";
    position: absolute;
    top: 24px;
    left: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: @color-secondary;
  }

  &--slim::after {
    content: "";
    position: absolute;
    top: 21px;
    left: 27px;
    width: 36px;
    height: 50px;
    background: url("../../img/stack.svg#program-cat-slim") no-repeat center;
  }

  &--pro::after {
    content: "";
    position: absolute;
    top: 35px;
    left: 13px;
    width: 67px;
    height: 28px;
    background: url("../img/stack.svg#program-cat-pro") no-repeat center;
  }
}

.programs-list__heading {
  margin: 0 0 29px 0;
  padding: 0 0 0 70px;
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  text-transform: uppercase;
}

.programs-list__text {
  padding: 0 0 23px 0;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #444444;
  border-bottom: 1px solid #d9d9d9;
}

.programs-list__button {
  position: relative;
  display: block;
  max-width: 142px;
  padding: 5px 44px 5px 0;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 36px;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;

  &::before {
    content: "";
    position: absolute;
    top: calc(50% - 5px);
    left: calc(100% - 40px);
    width: 24px;
    height: 10px;
    background: url("../img/stack.svg#icon_arrow") no-repeat center;
  }

  &:hover::before,
  &:focus::before {
    width: 32px;
  }

  &:focus {
    outline: 2px solid #444444;
    outline-offset: 2px;
  }

  &:focus:not(:focus-visible) {
    outline: transparent;
  }

  &:focus-visible {
    outline: 2px solid #444444;
    outline-offset: 2px;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: @tablet-width) {
  .programs-list {
    gap: 30px;
  }

  .programs-list__item {
    padding: 77px 360px 57px 52px;
  }

  .programs-list__item::before {
    top: 91px;
    left: auto;
    right: 63px;
    width: 200px;
    height: 200px;
  }

  .programs-list__item--slim::after {
    top: 81px;
    left: auto;
    right: 93px;
    width: 140px;
    height: 194px;
    background-size: 140px 194px;
  }

  .programs-list__item--pro::after {
    top: 135px;
    left: auto;
    right: 28px;
    width: 268px;
    height: 113px;
    background-size: 268px 113px;
  }

  .programs-list__heading {
    padding: 0;
    margin: 0 0 24px 0;
    font-size: 36px;
    line-height: 36px;
  }

  .programs-list__text {
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    border-bottom: none;
  }

  .programs-list__button {
    max-width: 175px;
    font-size: 20px;
    line-height: normal;
  }
}

@media (min-width: @desktop-width) {
  .programs-list {
    flex-direction: row;
    gap: 30px 80px;
  }

  .programs-list__item {
    padding: 77px 61px 57px 52px;
    width: 50%;
  }

  .programs-list__item::before {
    top: 47px;
    left: 52px;
    width: 100px;
    height: 100px;
  }

  .programs-list__item--slim::after {
    top: 41px;
    left: 67px;
    width: 70px;
    height: 97px;
    background-size: 70px 97px;
  }

  .programs-list__item--pro::after {
    top: 67px;
    left: 33px;
    width: 134px;
    height: 56px;
    background-size: 134px 56px;
  }

  .programs-list__heading {
    margin: 0 0 73px 162px;
  }
}
