.social-info {
  padding: 20px;
}

.social-info__social-list {
  margin: 0;
}

@media (min-width: @tablet-width) {
  .social-info {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px 80px;
    padding: 57px 30px 51px 30px;
    align-items: flex-start;
  }
}

@media (min-width: @desktop-width) {
  .social-info {
    padding: 66px 110px;
    width: 1440px;
  }

  .social-info__social-list {
    margin: 0 auto;
  }
}
