.form {
  width: 100%;
}

.form__group {
  margin: 0;
  padding: 0;
  border: 0;
}

.form__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.form__item {
  font-family: "Oswald", sans-serif;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
  white-space: nowrap;
}

.form__group-program {
  margin-bottom: 26px;
}

.form__group-contacts {
  margin-bottom: 0;
}

.form__button-container {
  padding: 0 20px;
  margin-bottom: 32px;
}

.form__submit-button {
  margin: 0 auto 21px auto;
  width: 100%;
}

.form__explanation {
  display: block;
  margin: 0 auto;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
}

@media (min-width: @tablet-width) {
  .form__item {
    font-size: 20px;
    line-height: normal;
  }

  .form__group-program {
    margin-bottom: 0;
  }

  .form__button-container {
    display: flex;
    align-items: center;
    gap: 64px 20px;
    padding: 0 30px 60px 30px;
    margin-bottom: 0;
  }

  .form__submit-button {
    width: 282px;
    margin: 0 0 0 41px;
    padding: 12px 44px;
    font-size: 20px;
    line-height: normal;
  }

  .form__explanation {
    margin-left: 40px;
    font-size: 16px;
  }
}

@media (min-width: @desktop-width) {
  .form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 62px 80px;
    padding: 64px 0 77px 0;
  }

  .form__group-name {
    margin-left: auto;
  }

  .form__group-program {
    margin-right: auto;
  }

  .form__button-container {
    margin: 0 auto;
    padding: 0 110px;
    width: 1440px;
    grid-column: 1/-1;
    gap: 40px 80px;
  }

  .form__submit-button {
    width: 570px;
    margin: 0;
  }

  .form__explanation {
    margin: -5px 0 0 -3px;
  }
}
