.group-comments {
  padding: 0;
  margin: 24px 0 23px 0;
}

.group-comments__title {
  margin-bottom: 38px;
}

.group-comments__textarea::placeholder {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
}

.group-comments__textarea-container {
  padding: 0 20px;
}

.group-comments__textarea {
  padding: 14px;
  height: 150px;
  width: 100%;
  background-color: #ffffff;
  border: 1px solid #e7e7e7;
  resize: none;
}

@media (min-width: @tablet-width) {
  .group-comments {
    margin: 0;
  }

  .group-comments__title {
    margin-bottom: 0;
  }

  .group-comments__textarea-container {
    padding: 87px 70px 65px 70px;
  }

  .group-comments__textarea::placeholder {
    font-size: 20px;
    line-height: 30px;
  }
}

@media (min-width: @desktop-width) {
  .group-comments {
    grid-column: 1/-1;
  }

  .group-comments__textarea-container {
    max-width: 1300px;
    padding: 78px 40px 0 40px;
    margin: 0 auto;
  }
}
