.product-details__table {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product-details__description,
.product-details__value {
  font-size: 12px;
  line-height: 16px;
  color: #444444;
}
