.button {
  display: block;
  padding: 8px 44px;
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #ffffff;
  background-color: @color-secondary;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;

  &--find-program {
    position: relative;
    z-index: 10;
  }

  &--show-all {
    padding: 10px 94px;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    background-color: #f2f2f2;
    color: #444444;
    border: none;
  }
}
